<div class="amber lighten-3">
  <div class="container">
    <div id="greeting_menu" class="user_div">


    <% if (cookie_accept) { %>
      <h3 class="center-align">Suggestions</h3>
      <table class="suggestion_table centered highlight sugg">
        <thead>
          <tr>
            <th>Meal</th>
            <th>Suggested By</th>
            <th>Accept</th>
          </tr>
        </thead>
        <tbody>

          <% for (var i = 0; i < suggestions.length; i++) { %>
            <tr><td><%= suggestions[i].meal_name %></td><td><%= users_name[i].name %></td><td>Meal Already Selected</td></tr>
          <% } %>

        </tbody>
      </table>

      <form action="/suggestions/undo" method="post">
        <input type="hidden" value="<%= user.id %>" name="id">
        <button type="submit" name="undo" class="orange darken-4 btn waves-effect waves-light">Undo</button
      </form>

    <% } else { %>
      <h3 class="center-align">Suggestions</h3>
      <table class="suggestion_table centered highlight sugg">
        <thead>
          <tr>
            <th>Meal</th>
            <th>Suggested By</th>
            <th>Accept</th>
          </tr>
        </thead>
        <tbody>


                <% for (var i = 0; i < suggestions.length; i++) { %>
                  <tr>
                  <td><%= suggestions[i].meal_name %></td>
                  <td><%= users_name[i].name %></td>

                  <td><form action="/suggestions/<%= suggestions[i].id %>/accepted" method="post"><input type="hidden" name="id" value="<%= user.id %>"><button class=" orange darken-4 btn waves-effect waves-light" type="submit" name="accept">Accept</button></form></td>
                  </tr>
                <% } %>

              </tbody>
            </table>
    <% } %>


      <div id="edit_user" class="user_div">
        <h3>Edit User Info</h3>
        <form action="/suggestions/<%= user.id %>/edit" method="post">
          <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" class="user_input" value="<%= user.name %>">
          </div>
          <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" name="email" class="user_input" value="<%= user.email %>">
          </div>
          <div class="form-group">
            <label for="about">About: </label>
            <textarea name="about" rows="3" cols="80" class="user_input"><%= user.about %></textarea>
          </div>
          <button type="submit" class="user_input orange darken-4 btn waves-effect waves-light" name="edit">Edit</button>
        </form>
      </div>

    </div>
  </div>
</div>  
<script type="text/javascript">
    $("#nav-mobile").append(`<li><a href="/users/logout">Logout</a></li>`);
</script>
